{% include "base.html" %}
<section>
            <div class="container">
                <div class="section-header">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="kode-contact-icon">
                            
                            <h2> <i class="fa fa-envelope-o"></i>E-mail</h2>
                            <p><a href="mailto:info@kodeforest.com">info@domain.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="kode-contact-icon">
                            
                            <h2> <i class="fa fa-phone"></i>Phone</h2>                            <p>Contact: +1 123-456-7890</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                       
                    </div>
                </div>
            </div>
        </section>

    <section style="padding-top: 50px;">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 col-sm-12">
                        <div >
                      <p>Demo text</p>


                            
                        </div>
                    </div>
              
                </div>
            </div>
        </section>
          <style type="text/css">
            .kode-contact-icon {

    float: left;
    width: 100%;
    text-align: center;
     padding: 0px; 
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.kode-contact-icon i {
    height: 0;
    width: 30px;
     border: none; 
    text-align: center;
    padding: 9px 43px 0px 0px;
    font-size: 24px;
    border-radius: 100%;
     margin: 0px; 
}


        </style>
   
    <div class="copyrights">
    	<div class="container" align="Center">
        	<p>©2020 Breast cancer</p>
            </div>
    </div>
    <!--COPYRIGHTS END-->
</div>
<!--WRAPPER END-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static\js\jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static\js\bootstrap.min.js"></script>
<script src="static\js\jquery.bxslider.min.js"></script>
<script src="static\js\bootstrap-slider.js"></script>
<script src="static\js\waypoints.min.js"></script> 
<script src="static\js\jquery.counterup.min.js"></script> 
<script src="static\js\owl.carousel.js"></script>
<script src="static\js\bg-moving.js"></script> 
<script src="static\js\dl-menu\modernizr.custom.js"></script> 
<script src="static\js\dl-menu\jquery.dlmenu.js"></script> 
<script src="static\js\functions.js"></script>
</body>
</html>