    {% load static %}
   
    <div class="copyrights">
    	<div class="container" align="Center">
        	<p>©2020 Breast cancer</p>
            </div>
    </div>
    <!--COPYRIGHTS END-->
</div>
<!--WRAPPER END-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'static\js\jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'static\js\bootstrap.min.js' %}"></script>
<script src="{% static 'static\js\jquery.bxslider.min.js' %}"></script>
<script src="{% static 'static\js\bootstrap-slider.js' %}"></script>
<script src="{% static 'static\js\waypoints.min.js' %}"></script> 
<script src="{% static 'static\js\jquery.counterup.min.js' %}"></script> 
<script src="{% static 'static\js\owl.carousel.js' %}"></script>
<script src="{% static 'static\js\bg-moving.js' %}"></script> 
<script src="{% static 'static\js\dl-menu\modernizr.custom.js' %}"></script> 
<script src="{% static 'static\js\dl-menu\jquery.dlmenu.js' %}"></script> 
<script src="{% static 'static\js\functions.js' %}"></script>
</body>
</html>