{% include "base.html" %}

    <div class="main-banner-2">
    	<ul class="bxslider">
        	<li>
            	<img src="static\images\banner-4.png" alt="">
                <div class="caption-2">
                	<h2>Welcome to The Trust</h2>
                    <p>Lorem ipsum dolor sit ametconsectetur<br>
						adipiscing elit adipiscing adipisci</p>
                    <a href="#">get started</a>
                </div>
            </li>
            <li>
            	<img src="static\images\banner-3.png" alt="">
                <div class="caption-2">
                	<h2>Donate For the Breast Cancer </h2>
                    <p>for marginalized children<br>
					adipiscing elit adipiscing adipisci</p>
                    <a href="#">get started</a>
                </div>
            </li>
        </ul>
    </div>
    <!--CONTENT START-->
    <div class="content">
    	<section class="gray-bg big-search">
        	<div class="container">
            	<div class="kode-search-2">
                	<input type="text" placeholder="Find Your Major Causes">
                    <button><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
        </section>
    	<!--SERVICES SECTION START-->
    	<section class="gray-bg">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-3 col-sm-6">
                    	<div class="kf-services">
                        	<i class="fa fa-heart-o"></i>
                            <div class="kf-text">
                                <h2>LOVE<br>WOMENS</h2>
                                <p>Look Good Feel Better for Teens is a unique, free program for teenage cancer patients.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="kf-services">
                        	<i class="fa fa-stethoscope"></i>
                            <div class="kf-text">
                                <h2>BreastCare<br>solutions</h2>
                                <p>Getting the best care sometimes means cancer patients must travel away from home.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="kf-services">
                        	<i class="fa fa-tint"></i>
                            <div class="kf-text">
                                <h2>DONATE FOR<br>BREASTCANCER</h2>
                                <p>Join the fight against cancer by donating to the American Cancer Society.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="kf-services">
                        	<i class="fa fa-female"></i>
                            <div class="kf-text">
                                <h2>SAve ThE<br>Women</h2>
                                <p>Our Road map is to provides rides to patients who have no way to get to treatment.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SERVICES SECTION END-->
        <!--CAUSES SECTION START-->
        <section class="causes-section overlay">
        	<div class="container">
            	<!--HEADER SECTION START-->
				<div class="heading heading-4">
					<p style="color:#fff">Compain about the awareness of Breast Cancer</p>
					<h2 style="color:#fff">Breast Cancer Health Center</h2>
				</div>
                <!--HEADER SECTION END-->
                <div class=" kode-cause">
                	<div class="row">
                    	<div class="col-md-6">
                        	<img src="static\images\cause.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                        	<h2>Help to Fight With Breast Cancer</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugitne voluptatem sequi nesciunt.</p>
                            <a href="#" class="read-more">Read More</a>
                            <!--RANGE SLIDER START-->
                            <div class="kode-range">
                                Min: $ <span class="range-slider">500</span>
                                <input class="range" type="text" data-slider-min="0" data-slider-max="2000" data-slider-step="1" data-slider-value="500" &t=""><span id="ex6CurrentSliderValLabel"></span>
							</div>
                            <!--RANGE SLIDER END-->
                            <!--DONATE TEXT START-->
                            <div class="donate-text">
                            	<p>WE APPRECIATE YOU TO HELP US</p>
                                <a href="#" class="btn-filled">Donate Now</a>
                            </div>               
                            <!--DONATE TEXT END-->             
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
    <div class="copyrights">
    	<div class="container" align="Center">
        	<p>©2020 Breast cancer</p>
            </div>
    </div>
    <!--COPYRIGHTS END-->
</div>
<!--WRAPPER END-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static\js\jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static\js\bootstrap.min.js"></script>
<script src="static\js\jquery.bxslider.min.js"></script>
<script src="static\js\bootstrap-slider.js"></script>
<script src="static\js\waypoints.min.js"></script> 
<script src="static\js\jquery.counterup.min.js"></script> 
<script src="static\js\owl.carousel.js"></script>
<script src="static\js\bg-moving.js"></script> 
<script src="static\js\dl-menu\modernizr.custom.js"></script> 
<script src="static\js\dl-menu\jquery.dlmenu.js"></script> 
<script src="static\js\functions.js"></script>
</body>
</html>